<figure class="image is-128x128">
    <img src="<%= url_for(theme.logo) %>">
</figure>

<aside class="menu is-hidden-touch">
    <ul class="menu-list">
        <li><a>Home</a></li>
    </ul>
    <ul class="menu-list">
        <li><a>De vereniging</a></li>
        <li>
            <ul class="menu-list">
                <li><a>Concerten</a></li>
                <li><a>Fanfare</a></li>
                <li><a>Drumband</a></li>
                <li><a>Dweilband</a></li>
            </ul>
        </li>
    </ul>
    <ul class="menu-list">
        <li><a>Lid worden</a></li>
        <li><ul>
            <li><a>Muzieklessen</a></li>
        </ul></li>
    </ul>
    <ul class="menu-list">
        <li><a>Foto's</a></li>
    </ul>
    <ul class="menu-list">
        <li><a>Donateur worden</a></li>
    </ul>
    <ul class="menu-list">
        <li><a>Contact</a></li>
        <li><ul>
            <li><a>Privacyverklaring</a></li>
        </ul></li>
    </ul>
</aside>
