<div class="content notification">
Muziekvereniging TOGIDO uit Hekelingen bestaat sinds 1912. De letters TOGIDO staan voor Tot Ons Genoegen Is Dit Opgericht. De vereniging bestaande uit het fanfareorkest de drumband, het leerlingenorkest en leerlingen, telt zo’n 55 enthousiaste leden. Het orkest staat onder leiding van dirigent Richard Vrijhoef; de drumbandinstructeur is Henk Stolk.
<br /><br />
Het orkest repeteert iedere dinsdag van 20.00-22.00 uur in het Dorpshuis, Lede 13 in Hekelingen. De lessen (blaasinstrumenten en slagwerk) zijn op dinsdagmiddag en -avond. Drumband lessen en -repetitie zijn op maandagavond in De Nieuwe Meent in Oudenhoorn.
<br /><br />
TOGIDO speelt regelmatig concerten in Nissewaard en omliggende regio. Ook is de muziekvereniging te zien en te horen bij evenementen als de avondvierdaagse, Koningsdag, Dodenherdenking, Sinterklaas en Kerst. Wilt u meer informatie, heeft u vragen of wilt u misschien zelf een instrument leren bespelen? Onder het kopje ‘contact’ op deze website vindt u telefoonnummers en mailadressen van onze contactpersonen.</div>

<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Ftogidohekelingen%2Fposts%2Fpfbid0k8DxqqkpoDYciE4C2aDqJJgUaWKCKwk8v2XjPjAkk1BGqAE8e5HQeAeKEsrB7YJUl&show_text=true&width=500" width="500" height="419" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

<figure class="image">
    <img src="togido_overzicht.jpg">
</figure>
