<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>

            <a class="navbar-item" href="/nieuws/">Nieuws</a>

            <a class="navbar-item" href="/festival/">Festival</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/de-vereniging/">De vereniging</a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/de-vereniging/concerten/">Concerten</a>
                    <a class="navbar-item" href="/de-vereniging/fanfare/">Orkest</a>
                    <a class="navbar-item" href="/de-vereniging/dweilband/">Dweilband</a>
                    <a class="navbar-item" href="/de-vereniging/drumband/">Drumband</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/lid-worden">Lid worden</a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/lid-worden/muzieklessen/">Muzieklessen</a>
                </div>
            </div>

            <a class="navbar-item" href="/foto-album/">Foto's</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/contact/">Contact</a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/contact/privacy-verklaring/">Privacyverklaring</a>
                </div>
            </div>

            <a class="navbar-item" href="/donateur-worden/">Donateur worden</a>

        </div>
    </div>
</nav>
